.sectionExclusive {
  padding: 0 7rem;
  padding-top: 0.7rem;
}

.videoContainer {
  display: flex;
  height: 288.125px;
  align-items: flex-start;
  gap: 48px;
  position: relative;
}

.title {
  color: #111827;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
  margin-top: 0.6rem;
}

.ImageContainer {
  position: relative;
}

.videoImage {
  width: 391px;
  height: 253.125px;
  flex-shrink: 0;
}

.svgImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  top: 6rem;
  left: -4rem;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 6rem;
  right: -4rem;
  cursor: pointer;
}
